label 
  display: inline-block
  width: 3em
  margin: .5em 0
  color: #607D8B
  font-weight: bold

input 
  height: 2em
  font-size: 1em
  padding-left: .4em

button 
    width: 70px
    margin-top: 20px
    font-family: Arial
    background-color: #eee
    border: none
    padding: 5px 0px
    border-radius: 4px
    cursor: pointer
    cursor: hand

button:hover 
  background-color: #cfd8dc

button:disabled 
  background-color: #eee
  color: #ccc
  cursor: auto
