html
    display: flex
    justify-content: center
    align-items: center
h1 
  font-size: 1.8em
  margin-bottom: 0

h2 
  font-size: 2em
  margin-top: 0
  padding-top: 0

nav a 
    margin-right: 10px
    padding: 5px 10px
    text-decoration: none
    margin-top: 10px
    display: inline-block
    background-color: #eee
    border-radius: 4px

nav a:visited, a:link 
  color: #334953

nav a:hover 
  color: #039be5
  background-color: #cfd8dc

nav a.active 
  color: #039be5
